<div class="container-fluid sign-up-bar">
  <div class="search-pull col-sm-12">
    <img id="closesearch" src="<%='/x.png'%>" alt="X">
    <form class="search" action="/search">
      <input type="text" name="searchkey" class="searchinput" autofocus>
      <button type="submit" class="searchbutton">Get Results</button>
    </form>
  </div>

  <div class="container">

    <ul id="log_in_ul">
      <% if @user == nil %>
        <li><a href="/login">LOG IN</a></li>
      <% else %>
        <li><a href="/user/account/<%= @user.id %>"><%= @user.username %>'s dashboard</a></li>
      <% end %>
    </ul>

    <ul id="cart_ul">
      <li class="cart"><a>CART: 0</a></li>
    </ul>


    <ul id="create_account_ul">
      <% if @user == nil %>
        <li><a href="/artist/new">CREATE ARTIST ACCOUNT</a></li>
        <li><a href="/user/new">CREATE USER ACCOUNT</a></li>
      <% end %>
    </ul>

  </div>
</div>


<header class="container">
  <h2><a href="/">PORTLAND / MUSIC</a></h2>

  <ul>
    <li><a href="/labels">LABELS</a></li>
    <li><a href="/artists">ARTISTS</a></li>
    <li><a href="/albums">ALBUMS</a></li>
    <li><a href="/store">STORE</a></li>
  </ul>
  <ul id="search">
      <li><img id="crazy" class="glass" src="<%= '/search.png' %>" alt="magnifying glass"></li>
  </ul>

</header>
