<%= erb :header %>
<div class="container">
    <div class="col-sm-12 cover">
      <h1 class="overlay-text-h1">DECEMBER TO FORGET</h1>
      <h3 class="overlay-text-h3">12 Bands. 4 Venues.</h3>
      <h5 class="overlay-text-h5">Not Worth Remembering</h5>
      <h8 class="overlay-text-h8-4">The Arlene Schnitzer Concert Hall</h8>
      <h8 class="overlay-text-h8">Mississippi Studios</h8>
      <h8 class="overlay-text-h8-2">Doug Fir</h8>
      <h8 class="overlay-text-h8-3">Revolution Hall</h8>
    </div>
</div>
<%= erb :footer %>
