<%= erb :header %>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-4">
      <h2 class="text-center">Write a Comment</h2>
      <form action="/albums/<%= @album.id() %>" method="post">
        <input type="hidden" name="_method" value="patch">

        <textarea rows="10" cols="47" name="comment_text" placeholder="Enter your comment"></textarea>

        <button type="submit" name="button" class="btn btn-danger">submit</button>
      </form>
    </div>
  </div>
</div>


<%= erb :footer %>
