<%= erb :header %>
<br>
<div class="container">
  <ul class="nav nav-pills">
    <% @tag_array.each do |tag| %>
    <li role="presentation"><a href="/tags/<%= tag %>"><%= tag %></a></li>
    <% end %>
  </ul>
</div>
