<div class="col-sm-2">
  <h3 class="enable_menu">ARTIST MENU</h3>
  <ul class="user_artist_menu">
    <li><a href="/artist/profile">ARTIST PROFILE</a></li>
    <li><a href="/album/new">ADD ALBUM</a></li>
    <li><a href="/merchandise/new">ADD STORE ITEMS</a></li>
    <li><a>SALES DATA</a></li>
    <li><a href="/logout/<%= @user.id %>">LOG OUT</a></li>
  </ul>
</div>
