<%= erb :header %>
<div class="container albums-container">
  <div class="col-sm-12">
    <% Album.all.each do |album| %>
      <div class="col-sm-4 album_holder">
        <div class="album_photo" id="<%= album.id %>">
          <img class="img-responsive" src="<%= album.album_photo_name %>" >
        </div>
        <h4><%= album.name %></h4>
      </div>
    <% end %>
  </div>
</div>
