<form action="/album/new" method="post">
  <div class="form-group">
   <input name="album_art" class="form-control" placeholder="Enter the URL for the album artwork">
 </div>
 <div class="form-group">
   <input name="embed" class="form-control" placeholder="Link to Bandcamp Embed">
 </div>
  <div class="form-group">
    <input name="name" class="form-control" placeholder="Album Name">
  </div>
  <div class="form-group">
    <textarea name="credits" class="form-control" rows="4" placeholder="Credits"></textarea>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="tracks[]" placeholder="Track Name">
  </div>
  <div class="starting_input">
  </div>
  <div class="form-group">
    <small class="add_input">+ Add Another Track</small>
  </div>
    <div class="form-group">
      <label for="label">Label</label>
      <select name="label">
        <option value=nil> No Label </option>
        <% Label.all.each do |label| %>
        <option value="<%= label.id %>"><%= label.name %></option>
        <% end %>
      </select>
      <input name="new_label">
  </div>
  <button class="btn btn-danger" type="submit">Add Album</button>
</form>
