<div class="container-fluid sign-up-bar">
  <div class="container">

    <ul id="log_in_ul">
      <% if @user == nil %>
        <li><a href="/login">LOG IN</a></li>
      <% else %>
        <li><a href="/user/account/<%= @user.id %>"><%= @user.username %> is logged in</a></li>
      <% end %>
    </ul>


    <ul id="create_account_ul">
      <li><a>Cart: 0</a></li>
      <li><a href="/artist/new">CREATE ARTIST ACCOUNT</a></li>
      <li><a href="/user/new">CREATE USER ACCOUNT</a></li>
    </ul>

  </div>
</div>


<header class="container">
  <h2><a href="/">MUSIC MUSIC MUSIC</a></h2>

  <ul>
    <li><a>FEATURED PLAYLISTS</a></li>
    <li><a>PREMIERES</a></li>
    <li><a>LABELS</a></li>
    <li><a>ARTISTS</a></li>
    <li><a href="/albums">ALBUMS</a></li>
    <li><a>STORE</a></li>
  </ul>

</header>
