<% @artist.albums.each do |album| %>
<div class="col-sm-4 album_holder">
  <div class="album_photo">
    <a href="/album/<%= album.id %>"><img class="img-responsive" src="<%= album.album_photo_name %>" ></a>
  </div>
  <h4><%= album.name %></h4>
</div>
<% end %>
