<div class="col-sm-2">
  <h3 class="enable_menu">USER MENU</h3>
  <ul class="user_artist_menu">
    <li><a href="/album/new">ADD ALBUM</a></li>
    <li><a>SALES DATA</a></li>
    <li><a>ACCOUNT INFO</a></li>
    <li><a href="/logout/<%= @user.id %>">LOG OUT</a></li>
  </ul>

</div>
