<%= erb :header %>

<div class="container">
  <div class="col-sm-4">

    <ul>
      <li><a>ADD ALBUM</a></li>
      <li><a>SALES DATA</a></li>
      <li><a>ACCOUNT INFO</a></li>
      <li><a href="/logout/<%= @user[0].id %>">LOG OUT</a></li>
    </ul>

  </div>
</div>
